<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Title -->
    <title>

        {% block title %}
            Dashboard | DataPilot AI
        {% endblock %}

    </title>

    <!-- Global CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Dashboard CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">

    <!-- Page Specific CSS -->
    {% block styles %}
    {% endblock %}

</head>

<body>

    <div class="dashboard-layout">

        <!-- Sidebar -->
        {% include "components/sidebar.html" %}

        <!-- Main Content -->
        <main class="dashboard-content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

   
    {% block scripts %}
    {% endblock %}

</body>

</html>