<aside class="sidebar">

    <div class="sidebar-logo">

        <a href="{{ url_for('home.dashboard') }}">

            <div class="logo-icon">
                <i class="fa-solid fa-rocket"></i>
            </div>

            <div class="logo-text">
                <h2>DataPilot AI</h2>
                <span>Analytics Platform</span>
            </div>

        </a>

    </div>

    <nav class="sidebar-menu">

        <a href="{{ url_for('home.dashboard') }}"
           class="{% if request.endpoint == 'home.dashboard' %}active{% endif %}">

            <i class="fa-solid fa-gauge-high"></i>
            <span>Dashboard</span>

        </a>

        <a href="{{ url_for('home.upload') }}"
           class="{% if request.endpoint == 'home.upload' %}active{% endif %}">

            <i class="fa-solid fa-cloud-arrow-up"></i>
            <span>Upload Dataset</span>

        </a>

        <a href="{{ url_for('explorer.explorer') }}"
           class="{% if request.endpoint == 'explorer.explorer' %}active{% endif %}">

            <i class="fa-solid fa-table"></i>
            <span>Dataset Explorer</span>

        </a>

        <a href="{{ url_for('cleaning.cleaning') }}"
            class="{% if request.endpoint == 'cleaning.cleaning' %}active{% endif %}">

                <i class="fa-solid fa-broom"></i>
                <span>Data Cleaning</span>

            </a>

            <a href="{{ url_for('eda.eda') }}"
            class="{% if request.endpoint == 'eda.eda' %}active{% endif %}">

                <i class="fa-solid fa-chart-line"></i>
                <span>EDA</span>

            </a>
        <a href="#">

            <i class="fa-solid fa-chart-column"></i>
            <span>Visualization</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-brain"></i>
            <span>Machine Learning</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-file-lines"></i>
            <span>AI Reports</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>History</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>

        </a>

    </nav>

    <div class="sidebar-bottom">

        <div class="user-card">

            <div class="user-avatar">
                A
            </div>

            <div class="user-details">
                <h4>Admin</h4>
                <span>Data Scientist</span>
            </div>

        </div>

        <a href="#">

            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>

        </a>

    </div>

</aside>